NEXT_PUBLIC_API_URL=https://kycapi.bunlong.uk
NEXT_PUBLIC_PYTHON_API_URL=https://kyc-python-api.bunlong.uk
NEXT_PUBLIC_APP_URL=https://kyc.bunlong.uk
NEXTAUTH_URL=https://kyc.bunlong.uk
NEXTAUTH_SECRET=your-nextauth-secret-here
